body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #4d4d4d;
    font-family: Arial,Verdana,Tahoma,Sans-Serif;
    font-size: 12px;
    line-height: 1.35;
    margin-left: 0px;
    margin-top: 0;
}
input, textarea, select, th, td {
    font-family: Arial,Verdana,Tahoma,Sans-Serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

h1{
    color:#d02f58;
    font-size:1.5em;
    margin: 0 0 10px 0;
    font-family: Verdana,Tahoma,Sans;
}
p{
    margin: 0 0 10px 0;
}
a{
    color:#b06b72 !important;
    text-decoration:none;
}

.page-wrapper{
    
    width:100%;
    height:100%;

}

.page-wrapper .h-menu{
    background:url("../img/h-menu_bg.png") 0 0 repeat-x;
    border-radius:10px;
    height:60px;
    line-height:60px;
    position:absolute;
    top:3px;
    right:3px;
    z-index:20;
    opacity:0.4;
}
.page-wrapper .h-menu ul{
    margin:0;
    padding:0;
    list-style-type:none;
    float:left;
}
.page-wrapper .h-menu ul li{
    display:inline-block;
    padding:0 5px;
}
.page-wrapper .h-menu .control{
    color:#ffffff;
    font-size:2em;
    padding:0 15px;
    font-weight:bold;
    display:inline-block;
    float:left;
}
.page-wrapper .h-menu .widgets{
    display:none;
    color:#ffffff;
    font-size:0;
}
.page-wrapper .open{
    opacity:1;
}
.page-wrapper .open .widgets{
    display:inline;
}
.page-wrapper .h-menu .widgets li{
    height:60px;
    line-height:60px;
    font-size:0;
}
.page-wrapper .h-menu .widgets li img{
    vertical-align:middle;
}
.page-wrapper > div{
    
}



.btn-next, .btn-prev {
    background: url("../img/buttons_t.png") no-repeat 0 0;
    cursor: pointer;
    height: 60px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 60px;
    z-index:20;
    font-size:0;
    text-decoration:none;
}
.btn-next {
    background-position: -60px 0;
    right: -1px;
}
.btn-prev {
    left: -1px;
}

#mybook{
    width:100%;
    height:100%;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    }
    #mybook .b-load{
        position:relative;
        
        height:100%;
        -webkit-transition:all 1.0s ease-in-out;
        -moz-transition:all 1.0s ease-in-out;
        -o-transition:all 1.0s ease-in-out;
        -ms-transition:all 1.0s ease-in-out;
        -transition:all 1.0s ease-in-out;
    }
    #mybook .b-load > div{
        float:left;
        width:100%;
        height:100%;
        background:#fff;
        position:absolute;
        left:0;
        box-shadow: inset -5px -1px 4px 8px #888888;
        -webkit-box-shadow:inset -5px -1px 4px 8px #888888;
        display:table;
    }
    #mybook .b-load > div .content{
        padding:15px;
    }

    #mybook .b-load > div img{
        width:100px;
    }

.SH{
    box-shadow:0 0 25px #888888;
    
}

.jst{
    position:absolute;
    width:100%;
    height:150px;
    left:0;
    bottom:0;
    overflow:hidden;
    z-index:30;
    background: rgba(0,0,0,0.5);

}
.jst .wrapper{
    width:9999em;
    position:relative;
    padding:7px 10px 15px;
} 
.jst .tPage{
    /*display:inline-block;*/
    float:left;
    height:130px;
    width:82px;
    margin-right:15px;
    overflow:hidden;
    background:#fff;
    padding:5px;
    font-size:4px;
    position:relative;
}
.jst .tPage img{
    width:95%;
    margin-bottom:2px;
}
.jst .tPage h1{
    font-size:5px;
    margin-bottom:2px;
}
.jst .tPage .btn-prev,
.jst .tPage .btn-next{
    display:none !important;
}

.jst .tPage .goto{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    /*background:red;*/
}